:host {
  display: flex;
  flex-direction: column;
}

.chat-container {
  background-color: #ffffff;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.messages {
  max-height: 500px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.user,
.assistant,
.error {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.user {
  background-color: #e1e1e1;
  color: #0d2e38;
  margin-left: 30px;
  margin-right: 10px;
}

.assistant {
  background-color: #848484;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 30px;
}

.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  flex-grow: 1;
  margin-right: 10px;
  resize: none;
  width: calc(100% - 60px);
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #2672cb;
}

.scroll-to-bottom {
  position: absolute;
  bottom: 70px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}

.scroll-to-bottom:hover {
  color: #333;
  background-color: #e1e1e1;
}

