<div class="chat-container">
  <div class="messages" #messagesContainer>
    <div *ngFor="let message of conversation"  [ngClass]="message.role">
      <markdown>{{ message.content }}</markdown>
    </div>
  </div>
  <button class="scroll-to-bottom" (click)="scrollToBottom()">&#8595;</button>
  <form (submit)="sendMessage($event, messageInput.value)">
    <textarea #messageInput [(ngModel)]="userMessage" name="userMessage" (keydown.enter)="handleEnterKey($event)"></textarea>
    <button type="submit">Send</button>
  </form>
</div>
